/* Center everything except the modal content */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f3f3f3;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.App-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.App-description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.App-input-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.App-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.App-button:hover {
  background-color: #0056b3;
}

.App-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Slightly less distracting background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.App-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  text-align: left;
  position: relative; /* So that the close button can be positioned inside */
  outline: none; /* Removes border outline when focused */
}

.App-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.App-new-year-message {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: left;
}

.App-modal h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.App-textbox {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none; /* Disable manual resizing */
  transition: height 0.2s ease-in-out;
  box-sizing: border-box;
}
